.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: black;
    color: white;
}

.navbar-logo a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

.navbar-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.navbar-center i {
    margin-right: 0.5rem;
}

.navbar-links {
    display: flex;
    list-style: none;
}

.navbar-links li {
    margin-left: 1rem;
}

.navbar-links a {
    color: white;
    text-decoration: none;
}

.navbar-links a:hover {
    text-decoration: underline;
    color: yellow;
}