.app {
  text-align: center;
  background-color: rgb(0, 0, 0);
}

.main-content {
  display: flex;
  flex-direction: column;
}

.hero-section {
  color: white;
  padding: 2rem 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-name {
  font-size: clamp(40px, 5vw, 80px);
}

.hero-job {
  font-size: clamp(60px, 6vw, 100px);
  color: yellow;
}

.hero-description {
  font-size: clamp(16px, 2vw, 24px);
  max-width: 80%;
  margin: 2rem auto;
  text-align: center;
}

.about-section {
  background-color: whitesmoke;
  padding: 4rem 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.about-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;
  bottom: 200px;
}

.about-section h1 {
  text-align: left;
  margin-bottom: 2rem;
  margin-left: 20rem;

}

.about-section p {
  text-align: left;
  margin-bottom: 1rem;
}

.skill-section {
  background-color: white;
  padding: 4rem 0;
}

.skill-title {
  font-size: 20px;
  margin-bottom: 2rem;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1200px;
}

.skills-column {
  width: 100%;
  padding: 0 1rem;
}

.skill-item {
  margin-bottom: 20px;
}

.skill-item p {
  margin-bottom: 5px;
  text-align: left;
}

.container {
  background-color: rgb(192, 192, 192);
  width: 100%;
  border-radius: 10px;
}

.skill {
  background-color: green;
  color: white;
  padding: 1%;
  text-align: right;
  font-size: 20px;
  border-radius: 15px;
  width: 0;
  transition: width 1s ease-out;
}

.skill.animate {
  width: var(--skill-percentage);
}

.java {
  --skill-percentage: 80%;
}

.matlab {
  --skill-percentage: 60%;
}

.r {
  --skill-percentage: 60%;
}

.html {
  --skill-percentage: 50%;
}

.css {
  --skill-percentage: 50%;
}

.javascript {
  --skill-percentage: 50%;
}

.projects-section {
  background-color: whitesmoke;
  padding: 4rem 0;
}

.projects-title h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.contact-section {
  background-color: black;
  color: white;
  padding: 4rem 0;
}

.contact-section h1 {
  text-align: left;
  position: relative;
  bottom: 80px;
}

.contact-links {
  text-align: left;
  margin-left: 10px;
  position: relative;
  bottom: 80px;
  width: 500px;
  font-size: 20px;

}

.contact-links a {
  color: white;

}

@media (min-width: 768px) {
  .about-content {
    width: 70%;
    margin-left: auto;
    margin-right: 0;
  }

  .skills-column {
    width: 45%;
  }
}

@media (max-width: 767px) {

  .about-section h1,
  .about-section p {
    text-align: center;
  }
}

html {
  scroll-behavior: smooth;
}